.top-desc {
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}


.box {
    border: 1px solid grey;
    width: 39.5vw;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.box img {
    width: 20vw;
    height: 200px;
    border-radius: 10px;
}

.box-title {
    margin-top: 10px;
}

.box-desc {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

/* middle  */
.tools-imgs img {
    width: 100px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* bottom  */
.contact-container {
    background-color: rgb(253, 244, 244);
    height: 25vh;
    width: 70vw;
    border-radius: 24px;

}

.contact-icons a {
    text-decoration: none;
    margin: 10px;
}

.contact-icons a img {
    width: 30px;
}

.contact-icons img:hover {
    transform: scale(1.1);
}